<?xml version="1.0" encoding="UTF-8"?>
<ModuleInfo localize="SnapSystem module" destinationfolder="TbApps">
    <Components>
        <Library name="SnapSystemDbl" sourcefolder="SnapSystemDbl" deploymentpolicy="full" />
        <Library name="SnapSystemComponents" sourcefolder="SnapSystemComponents" deploymentpolicy="full" />
        <Library name="SnapSystemDocuments" sourcefolder="SnapSystemDocuments" deploymentpolicy="full" />
    </Components>
</ModuleInfo>